@page "/about"

<div class="heading">
   <h3>О нас</h3>
   <p> <a href="home">Главная</a> / о нас </p>
</div>

<section class="about">

   <div class="flex">

      <div class="image">
         <img src="./assets/images/about-img.jpg" alt="">
      </div>

      <div class="content">
         <h3>Почему стоит выбрать именно нас?</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet voluptatibus aut hic molestias, reiciendis natus fuga, cumque excepturi veniam ratione iure. Excepturi fugiat placeat iusto facere id officia assumenda temporibus?</p>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit quos enim minima ipsa dicta officia corporis ratione saepe sed adipisci?</p>
         <a href="contact" class="btn">Связь с нами</a>
      </div>

   </div>

</section>

<section class="reviews">

   <h1 class="title">Отзывы клиентов</h1>

   <div class="box-container">

      <div class="box">
         <img src="./assets/images/pic-1.png" alt="">
         <p>Брал книгу в аренду на 1 месяц, после чего продлил еще на один, остался очень доволен!</p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
         </div>
         <h3>Амир Хайрутдинов</h3>
      </div>

      <div class="box">
         <img src="./assets/images/pic-2.png" alt="">
         <p>Взяла на 2 недели сказку, "Репка" мне очень понравилась.</p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
         </div>
         <h3>Адель Шпахина</h3>
      </div>

      <div class="box">
         <img src="./assets/images/pic-3.png" alt="">
         <p>Брал повесть о похождениях Петра Великого очень понравился рекомендую!</p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
         </div>
         <h3>Булат Закиров</h3>
      </div>

      <div class="box">
         <img src="./assets/images/pic-4.png" alt="">
         <p>Пользуюсь услугами этой организации уже 2 года очень довольна, всегда есть что взять почитать!</p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
         </div>
         <h3>Ильсия Ябарова</h3>
      </div>

      <div class="box">
         <img src="./assets/images/pic-5.png" alt="">
         <p>Брал для учебы учебник по математике 11 класс, смогу подготовиться к ЕГЭ и сдал его на 82 балла, очень благодарен</p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
         </div>
         <h3>Сережа Мичурин</h3>
      </div>

      <div class="box">
         <img src="./assets/images/pic-6.png" alt="">
         <p>Читаю каждый день, по 5 часов в день, очень благодарна данному проекта моего знакомого-друга Азиза!</p>
         <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
         </div>
         <h3>Мария Утьясова</h3>
      </div>

   </div>

</section>

<section class="authors">

   <h1 class="title">Наши авторы</h1>

   <div class="box-container">

      <div class="box">
         <img src="./assets/images/author-1.jpg" alt="">
         <div class="share">

         </div>
         <h3>Александр Шпак</h3>
      </div>

      <div class="box">
         <img src="./assets/images/author-2.jpg" alt="">
         <div class="share">

         </div>
         <h3>Оксана Сижулина</h3>
      </div>

      <div class="box">
         <img src="./assets/images/author-3.jpg" alt="">
         <div class="share">

         </div>
         <h3>Петр Кировский</h3>
      </div>

      <div class="box">
         <img src="./assets/images/author-4.jpg" alt="">
         <div class="share">

         </div>
         <h3>Адель Каитская</h3>
      </div>

      <div class="box">
         <img src="./assets/images/author-5.jpg" alt="">
         <div class="share">

         </div>
         <h3>Михаил Кармов</h3>
      </div>

      <div class="box">
         <img src="./assets/images/author-6.jpg" alt="">
         <div class="share">

         </div>
         <h3>Виолета Сергеева</h3>
      </div>

   </div>

</section>
