@page "/cart"

<link rel="stylesheet" href="./assets/css/cart.css">

<!-- partial:index.partial.html -->
<div class="wrap cf">
  <div class="heading cf">
    <h1>Корзина</h1>
    <a href="/" class="continue">Продолжить покупки</a>
  </div>
  <div class="cart">
    <ul class="cartWrap">
      <li class="items odd">
        
        <div class="infoWrap"> 
          <div class="cartSection">
            <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
            <p class="itemNumber">(Уникальный идентификатор)</p>
            <h3>Книга 1</h3>
          </div>  
    
        
          <div class="prodTotal cartSection">
            <p>₽500</p>
          </div>
          <div class="cartSection removeWrap">
            <a href="#" class="remove">x</a>
          </div>
        </div>
      </li>
      <li class="items odd">
              
        <div class="infoWrap"> 
          <div class="cartSection">
            <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
            <p class="itemNumber">(Уникальный идентификатор)</p>
            <h3>Книга 2</h3>
          </div>  
          
              
          <div class="prodTotal cartSection">
            <p>₽400</p>
          </div>
          <div class="cartSection removeWrap">
            <a href="#" class="remove">x</a>
          </div>
        </div>
      </li>
      
    </ul>
  </div>
  
  <div class="subtotal cf">
    <ul>
      <li class="totalRow"><span class="label">Subtotal</span><span class="value">₽900</span></li>
      
      <li class="totalRow"><span class="label">Доставка</span><span class="value">₽300</span></li>
      <li class="totalRow final"><span class="label">Итоговая цена</span><span class="value">₽800</span></li>
      <li class="totalRow"><a href="/" class="btn continue">Оплатить</a></li>
    </ul>
  </div>
</div>

@code {
    
}