@page "/contact"

<div class="heading">
   <h3>Обратная связь</h3>
   <p> <a href="home">Главная</a> / Связь с нами </p>
</div>

<section class="contact">

   <form action="" method="post">
      <h3>Дайте ваш отзыв!</h3>
      <input type="text" name="name" placeholder="Введите ваше имя" class="box">
      <input type="email" name="email" placeholder="Введите вашу почту" class="box">
      <input type="number" name="number" placeholder="Введите ваш номер телефона" class="box">
      <textarea name="message" class="box" placeholder="Текст сообщения"  cols="30" rows="10"></textarea>
      <input type="submit" value="Отправить" name="send-message" class="btn">
   </form>

</section>


@code {
    
}