@page "/"
@page "/home"

<section class="home">

   <div class="content">
      <h3>Книги открывают новые двери.</h3>
   </div>

</section>

<section class="products">

   <h1 class="title">Последние поступления</h1>

   <div class="box-container">


     @*<form action="" method="post" class="box">
      <img class="image" src="uploaded_img/<?php echo $fetch_products['image']; ?>" alt="">
      <div class="name">$1$<?php echo $fetch_products['name']; ?>#1#</div>
      <div class="price">$1$<?php echo $fetch_products['price']; ?>#1#/-</div>
      <input type="number" min="1" name="product_quantity" value="1" class="qty">
      <input type="hidden" name="product_name" value="<?php echo $fetch_products['name']; ?>">
      <input type="hidden" name="product_price" value="<?php echo $fetch_products['price']; ?>">
      <input type="hidden" name="product_image" value="<?php echo $fetch_products['image']; ?>">
      <input type="submit" value="Взять почитать" name="add_to_cart" class="btn">
     </form>*@
     
     <p class="empty">Здесь пока ничего нет!</p>

   </div>

   <div class="load-more" style="margin-top: 2rem; text-align:center">
      <a href="shop" class="option-btn">Посмотреть все</a>
   </div>

</section>

<section class="about">

   <div class="flex">

      <div class="image">
         <img src="images/about-img.jpg" alt="">
      </div>

      <div class="content">
         <h3>О нас</h3>
         <p>Узнайте о отзывах о нас  и о наших авторах!</p>
         <a href="about" class="btn">Читать больше</a>
      </div>

   </div>

</section>

<section class="home-contact">

   <div class="content">
      <h3>Есть вопросы?</h3>
      <p>Свяжитесь с нами, мы работаем круглосуточно, ответим на любой ваш вопрос!</p>
      <a href="contact" class="white-btn">Связь с нами</a>
   </div>

</section>