@page "/"

<PageTitle>Главная</PageTitle>

<!-- home section starts  -->

<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>Скидки 25%</h3>
            <p>Если вы студент инженерного факультета и вам нужны книги, 
                Books4MU предлагает отличные предложения на широкий 
                ассортимент книг. Купите эти книги от ведущих авторов и 
                воспользуйтесь огромной скидкой.</p>
            <a href="/#featured" class="btn">Купить сейчас</a>
        </div>

        <div class="swiper books-slider">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide"><img src="./assets/images/book-1.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="./assets/images/book-2.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="./assets/images/book-3.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="./assets/images/book-4.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="./assets/images/book-5.png" alt=""></a>
                <a href="#" class="swiper-slide"><img src="./assets/images/book-6.png" alt=""></a>
            </div>
            <img src="./assets/images/stand.png" class="stand" alt="">
        </div>

    </div>

</section>

<!-- home section ense  -->

<!-- icons section starts  -->

<section class="icons-container">

    <div class="icons">
        <i class="fas fa-shipping-fast"></i>
        <div class="content">
            <h3>Бесплатная доставка</h3>
            <p>при заказе от 1000</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-lock"></i>
        <div class="content">
            <h3>Безопасная оплата</h3>
            <p>100% безопасность при совершение платежей</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-redo-alt"></i>
        <div class="content">
            <h3>Легкий возврат</h3>
            <p>10 дней на возврат</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-headset"></i>
        <div class="content">
            <h3>24/7 Поддержка</h3>
            <p>Звоните в любое время</p>
        </div>
    </div>

</section>

<!-- icons section ends -->

<!-- featured section starts  -->

<section class="featured" id="featured">

    <h1 class="heading"> <span>Огромные скидки</span> </h1>

    <div class="swiper featured-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                   <a href="./product.html"> <img src="./assets/images/book-1.png" alt=""> </a>
                </div>
                <div class="content">
                    <h3>Книга 1</h3>
                    <div class="price">₽299 <span>₽599</span></div>
                    <a href="/cart" class="btn">В корзину</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <a href="./product.html"> <img src="./assets/images/book-2.png" alt=""> </a>
                </div>
                <div class="content">
                    <h3>Книга 2</h3>
                    <div class="price">₽499 <span>₽799</span></div>
                    <a href="/cart" class="btn">В корзину</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <a href="product.html"><img src="./assets/images/book-3.png" alt=""> </a>
                </div>
                <div class="content">
                    <h3>Книга 3</h3>
                    <div class="price">₽499 <span>₽999</span></div>
                    <a href="/cart" class="btn">В корзину</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="./assets/images/book-4.png" alt="">
                </div>
                <div class="content">
                    <h3>Книга 4</h3>
                    <div class="price">₽449 <span>₽729</span></div>
                    <a href="/cart" class="btn">В корзину</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="./assets/images/book-5.png" alt="">
                </div>
                <div class="content">
                    <h3>Книга 5</h3>
                    <div class="price">₽549 <span>₽699</span></div>
                    <a href="/cart" class="btn">В корзину</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="./assets/images/book-6.png" alt="">
                </div>
                <div class="content">
                    <h3>Книга 6</h3>
                    <div class="price">₽399 <span>₽799</span></div>
                    <a href="/cart" class="btn">В корзину</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="./assets/images/book-7.png" alt="">
                </div>
                <div class="content">
                    <h3>Книга 7</h3>
                    <div class="price">₽399 <span>₽699</span></div>
                    <a href="/cart" class="btn">В корзину</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="./assets/images/book-8.png" alt="">
                </div>
                <div class="content">
                    <h3>Книга 8</h3>
                    <div class="price">₽479 <span>₽599</span></div>
                    <a href="/cart" class="btn">В корзину</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="./assets/images/book-9.png" alt="">
                </div>
                <div class="content">
                    <h3>Книга 9</h3>
                    <div class="price">₽699 <span>₽999</span></div>
                    <a href="/cart" class="btn">В корзину</a>
                </div>
            </div>

            <div class="swiper-slide box">
                <div class="icons">
                    <a href="#" class="fas fa-eye"></a>
                </div>
                <div class="image">
                    <img src="./assets/images/book-10.png" alt="">
                </div>
                <div class="content">
                    <h3>Книга 10</h3>
                    <div class="price">₽629 <span>₽859</span></div>
                    <a href="/cart" class="btn">В корзину</a>
                </div>
            </div>

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- featured section ends -->

<!-- newsletter section starts -->

<section class="newsletter">

    <form action="">
        <h3>Подписка на акции и предложения</h3>
        <input type="email" name="" placeholder="Введите вашу почту" id="" class="box">
        <input type="submit" value="subscribe" class="btn">
    </form>

</section>

<!-- newsletter section ends -->

<!-- category section starts  -->

<section class="arrivals" id="category">

    <h1 class="heading"> <span>Категории</span> </h1>

    <div class="swiper arrivals-slider">

        <div class="swiper-wrapper">

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="./assets/images/book-1.png" alt="">
                </div>
                <div class="content">
                    <h3>Категория 1</h3>
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="./assets/images/book-4.png" alt="">
                </div>
                <div class="content">
                    <h3>Категория 2</h3> 
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="./assets/images/book-6.png" alt="">
                </div>
                <div class="content">
                    <h3>Категория 3</h3>
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="./assets/images/book-7.png" alt="">
                </div>
                <div class="content">
                    <h3>Категория 4</h3>
                </div>
            </a>

        </div>

    </div>

    <div class="swiper arrivals-slider">

        <div class="swiper-wrapper">

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="./assets/images/book-8.png" alt="">
                </div>
                <div class="content">
                    <h3>Категория 5</h3>  
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="./assets/images/book-9.png" alt="">
                </div>
                <div class="content">
                    <h3>Категория 6</h3> 
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="./assets/images/book-10.png" alt="">
                </div>
                <div class="content">
                    <h3>Категория 7</h3> 
                </div>
            </a>

            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="./assets/images/book3.png" alt="">
                </div>
                <div class="content">
                    <h3>Категория 8</h3>
                </div>
            </a>

        </div>

    </div>

</section>

<!-- category section ends -->

<!-- feedback section starts  -->
<section class="blogs" id="blogs">

    <h1 class="heading"> <span>Обратная связь</span> </h1>

    <section class="newsletter">

        <form action="">
            <h3>Дать обратную связь тут...</h3>
            <a href="/feedback" class="btn">Обратная связь</a>
            <!-- <a href="./feedback.html"><input type="submit" value="feedback"> </a>-->
        </form>
    
    </section>
</section>
<!-- feedback section ends -->

<script>
var swiper = new Swiper(".books-slider", {
  loop:true,
  centeredSlides: true,
  autoplay: {
    delay: 9500,
    disableOnInteraction: false,
  },
  breakpoints: {
    0: {
      slidesPerView: 1,
    },
    768: {
      slidesPerView: 2,
    },
    1024: {
      slidesPerView: 3,
    },
  },
});

var swiper = new Swiper(".featured-slider", {
  spaceBetween: 10,
  loop:true,
  centeredSlides: true,
  autoplay: {
    delay: 9500,
    disableOnInteraction: false,
  },
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
  breakpoints: {
    0: {
      slidesPerView: 1,
    },
    450: {
      slidesPerView: 2,
    },
    768: {
      slidesPerView: 3,
    },
    1024: {
      slidesPerView: 4,
    },
  },
});

var swiper = new Swiper(".arrivals-slider", {
  spaceBetween: 10,
  loop:true,
  centeredSlides: true,
  autoplay: {
    delay: 9500,
    disableOnInteraction: false,
  },
  breakpoints: {
    0: {
      slidesPerView: 1,
    },
    768: {
      slidesPerView: 2,
    },
    1024: {
      slidesPerView: 3,
    },
  },
});

var swiper = new Swiper(".reviews-slider", {
  spaceBetween: 10,
  grabCursor:true,
  loop:true,
  centeredSlides: true,
  autoplay: {
    delay: 9500,
    disableOnInteraction: false,
  },
  breakpoints: {
    0: {
      slidesPerView: 1,
    },
    768: {
      slidesPerView: 2,
    },
    1024: {
      slidesPerView: 3,
    },
  },
});

var swiper = new Swiper(".blogs-slider", {
  spaceBetween: 10,
  grabCursor:true,
  loop:true,
  centeredSlides: true,
  autoplay: {
    delay: 9500,
    disableOnInteraction: false,
  },
  breakpoints: {
    0: {
      slidesPerView: 1,
    },
    768: {
      slidesPerView: 2,
    },
    1024: {
      slidesPerView: 3,
    },
  },
});
</script>
