@page "/orders"
<div class="heading">
   <h3>Ваши заказы</h3>
   <p> <a href="home">Главная</a> / заказы </p>
</div>

<section class="placed-orders">

   <h1 class="title">Взятые вами книги</h1>

   <div class="box-container">
      
      <div class="box">
         <p> Взята в пользование с : <span>02.06.2023 10:11</span> </p>
         <p> Нужно будет вернуть до : <span>10.06.2023 10:11</span> </p>
         <p> Имя на кого взята книга : <span>Азиз</span> </p>
         <p> Ваш номер телефона : <span>+79177793607</span> </p>
         <p> Статус :<span> Ожидает получения </span> </p>
         <button class="btn delete-btn">Отменить</button>
         <button class="btn">Продлить</button>
      </div>
      
      <div class="box">
         <p> Взята в пользование с : <span>01.06.2023 10:11</span> </p>
         <p> Нужно будет вернуть до : <span>07.06.2023 10:11</span> </p>
         <p> Имя на кого взята книга : <span>Азиз</span> </p>
         <p> Ваш номер телефона : <span>+79177793607</span> </p>
         <p> Статус :<span> Закрыта </span> </p>
         <button class="btn delete-btn">Отменить</button>
         <button class="btn">Продлить</button>
      </div>
      
      <div class="box">
         <p> Взята в пользование с : <span>20.05.2023 10:11</span> </p>
         <p> Нужно будет вернуть до : <span>29.06.2023 10:11</span> </p>
         <p> Имя на кого взята книга : <span>Азиз</span> </p>
         <p> Ваш номер телефона : <span>+79177793607</span> </p>
         <p> Статус :<span> Взята в аренду </span> </p>
         <button class="btn delete-btn">Отменить</button>
         <button class="btn">Продлить</button>
      </div>
      
      <div class="box">
         <p> Взята в пользование с : <span>03.06.2023 10:11</span> </p>
         <p> Нужно будет вернуть до : <span>10.06.2023 10:11</span> </p>
         <p> Имя на кого взята книга : <span>Азиз</span> </p>
         <p> Ваш номер телефона : <span>+79177793607</span> </p>
         <p> Статус :<span> Ожидает возврата </span> </p>
         <button class="btn delete-btn">Отменить</button>
         <button class="btn">Продлить</button>
      </div>
      
      
      
      @*
      <p class="empty">no orders placed yet!</p>
   *@
   </div>

</section>