@page "/sign-in"
@layout EmptyLayout

<div class="form-container">

   <form action="" method="post">
      <h3>Вход в систему</h3>
      <input type="text" name="username" placeholder="Введите имя пользователя" required class="box">
      <input type="password" name="password" placeholder="Введите пароль" required class="box">
      <input type="submit" name="submit" value="Войти" class="btn">
      <p>Ещё нет аккаунта? <a href="sign-up">Зарегистрироваться</a></p>
   </form>

</div>