@page "/sign-up"
@layout EmptyLayout

<div class="form-container">

   <form action="" method="post">
      <h3>Регистрация</h3>
      <input type="text" name="last-name" placeholder="Введите вашу фамилию" class="box">
      <input type="text" name="first-name" placeholder="Введите ваше имя" class="box">
      <input type="text" name="middle-name" placeholder="Введите ваше отчество" class="box">
      <input type="tel" name="phone" placeholder="Введите номер телефона"class="box">
      <input type="email" name="email" placeholder="Введите электронную почту" class="box">
      <input type="text" name="username" placeholder="Введите имя пользователя" class="box">
      <input type="password" name="password" placeholder="Введите пароль" required class="box">
      <input type="password" name="confirm-password" placeholder="Повторите введённый пароль" class="box">
      <input type="submit" name="submit" value="Зарегистрироваться" class="btn">
      <p>Уже с нами? <a href="sign-in">Авторизироваться</a></p>
   </form>

</div>