@inherits LayoutComponentBase

<link rel="stylesheet" href="./assets/css/admin_style.css">

<CascadingAuthenticationState>
    <header class="header">
        <AdminHeaderBar/>
    </header>

    <main>
        <article>
            @Body
        </article>
    </main>
</CascadingAuthenticationState>


