<div class="box-container">
    <div class="box">
        <h3>Быстрая навигация</h3>
        <a href="home">Главная</a>
        <a href="about">О нас</a>
        <a href="catalog">Каталог</a>
        <a href="review">Оставить отзыв</a>
    </div>

    <div class="box">
        <h3>Доп. ссылки</h3>
        <a href="sign-in">Войти</a>
        <a href="sign-up">Регистрация</a>
    </div>

    <div class="box">
        <h3>Контактная информация</h3>
        <p> <i class="fas fa-phone"></i> +7 123 123 12 12 </p>
        <p> <i class="fas fa-phone"></i> +7 321 321 21 21</p>
        <p> <i class="fas fa-envelope"></i> azizstudio@gmail.com </p>
        <p> <i class="fas fa-map-marker-alt"></i> г. Казань, ул Октября, д.25 </p>
    </div>

</div>
<p class="credit"> &copy;  copyright by <span>AzizStudio</span> </p>
    