<div class="header-1">
    <div class="flex">
        <div class="share">
        </div>
        <p><a href="sign-in">Войти</a> | <a href="sign-up">Регистрация</a> </p>
    </div>
</div>

<div class="header-2">
    <div class="flex">
        <a href="home" class="logo">Букля</a>

        <nav class="@_navBarStateClass">
            <a href="home">Главная</a>
            <a href="about">О нас</a>
            <a href="catalog">Каталог</a>
            <a href="contact">Связь с нами</a>
            <a href="orders">Заказы</a>
        </nav>

        <div class="icons">
            <div id="menu-btn" @onclick="ChangeNavBarClass" class="fas fa-bars"></div>
            <a href="search-page" class="fas fa-search"></a>
            <div id="@_userBtnStateClass" @onclick="ChangeUserBoxClass" class="fas fa-user"></div>
        </div>

        <div class="@_userHomeStateClass">
            <p>Имя пользовтеля : <span>TestUsername</span></p>
            <a href="logout" class="delete-btn">Выйти</a>
        </div>
    </div>
</div>

@code{

    private const string NavBarActiveClass = "navbar active";
    private const string NavBarInactiveClass = "navbar";

    private string _navBarStateClass = NavBarInactiveClass;

    private const string UserHomeActiveClass = "user-box active";
    private const string UserHomeInactiveClass = "user-box";

    private string _userHomeStateClass = UserHomeInactiveClass;
    
    private const string UserBtnActiveClass = "user-btn active";
    private const string UserBtnInactiveClass = "user-btn"; 
    
    private string _userBtnStateClass = UserBtnInactiveClass;

    private void ChangeNavBarClass() =>
        _navBarStateClass = _navBarStateClass == NavBarInactiveClass
            ? NavBarActiveClass
            : NavBarInactiveClass;

    private void ChangeUserBoxClass()
    {
        _userHomeStateClass = _userHomeStateClass == UserHomeInactiveClass
            ? UserHomeActiveClass
            : UserHomeInactiveClass;
        
        _userBtnStateClass = _userBtnStateClass == UserBtnInactiveClass
            ? UserBtnActiveClass
            : UserBtnInactiveClass;
    }
 

}