@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <CascadingBlazoredModal DisableBackgroundCancel="true">

        <header class="header">
            <HeaderBar/>
        </header>

        <main>
            <article>
                @Body
            </article>
        </main>

        <section class="footer">
            <FooterBar/>
        </section>
    </CascadingBlazoredModal>
</CascadingAuthenticationState>

@code{


}