@inherits LayoutComponentBase

<header class="header">
    <HeaderBar/>
</header>

<main>
    <article>
        @Body
    </article>
</main>

<section class="footer">
    <FooterBar/>
</section>

@code{


}

