@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <header class="header">
        <HeaderBar/>
    </header>

    <main>
        <article>
            @Body
        </article>
    </main>

    <section class="footer">
        <FooterBar/>
    </section>
</CascadingAuthenticationState>

@code{


}